.wrapper>section,
body>section {
    position: relative;
    z-index: 1;
}

.wrapper>.panel {
    color: #404853;
    font-size: 14px;
    line-height: 19px;
}

.panel._nav {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 216px;
    -webkit-transition: background .3s, left .5s;
    transition: background .3s, left .5s;
    background: #eaeaec;
    color: #343434;
    font-size: 12px;
}

@media screen and (min-width: 1366px) {
    .panel._nav {
        width: 250px;
    }
}

.panel._nav .panel__header {
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 48px;
    -ms-flex: 1 0 48px;
    flex: 1 0 48px;
    padding-top: 11px;
    max-height: 48px;
    border-bottom: 1px solid #cccbcb;
}

.panel._nav .container {
    padding: 0 0 0 6px;
}

.search-box {
    position: relative;
    display: block;
    margin: 0 8px 5px 0;
    padding: 8px 0;
    height: 15px;
    background: 0 0;
}

.search-box__label {
    display: block;
    padding: 0 0 0 16px;
    height: 100%;
}

.icon._search,
.search-box__label:before {
    background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3….5%203.525%203.351%203.525s3.351-1.578%203.351-3.525z%22%2F%3E%3C%2Fsvg%3E);
    background-size: 100% auto;
}

.search-box__clear::before,
.search-box__label::before {
    content: '';
    position: absolute;
}

.search-box__label::before {
    top: 10px;
    left: 2px;
    width: 13px;
    height: 14px;
    opacity: 1;
    -webkit-transition: .4s;
    transition: .4s;
}

.search-box__input {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: 0 0;
    border: 0;
    color: #343434;
    font-size: 12px;
    line-height: 14px;
    outline: 0;
    vertical-align: top;
}

.search-box__clear {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: none;
    width: 18px;
    cursor: pointer;
    opacity: .7;
    -webkit-transition: .4s;
    transition: .4s;
}

.panel__content {
    position: relative;
    font-size: 16px;
    line-height: 28px;
}

.panel._nav .panel__content {
    overflow: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 15px;
    height: 100%;
}

.panel._nav .container._nav {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 0;
    -ms-flex: 1 0 0;
    flex: 1 0 0;
    margin-bottom: -95px;
    padding-bottom: 120px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.nav-tree {
    padding: 0 0 0 4px;
    font-size: 12px;
    font-weight: 500;
    line-height: 17px;
}

.nav-tree__list {
    padding: 0 0 0 10px;
}

.nav-tree__item {
    position: relative;
    font-weight: 300;
}
.nav-tree__branch-title, .nav-tree__link, .nav-tree__link:visited, .nav-tree__placeholder, .nav-tree__placeholder:visited {
    display: block;
    padding: 7px 10px 7px 0;
    color: #696969;
    line-height: 15px;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
}
.nav-tree__item._hover>.nav-tree__link, .nav-tree__item._hover>.nav-tree__placeholder, .nav-tree__link:hover, .nav-tree__placeholder:hover {
    margin-left: -20px;
    padding-left: 20px;
    color: #18a3fa;
    text-decoration: underline;
}

.panel._main {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 216px;
    z-index: 2;
    overflow: auto;
    background: #fff;
    -webkit-transition: .4s left;
    transition: .4s left;
    outline: 0;
}

.panel__header {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.panel__header._fixed {
    position: fixed;
    top: 0;
    right: 0;
    left: 216px;
    z-index: 100;
}

.panel__header._clamped {
    color: #404853;
}

.panel._main .panel__header {
    /* margin: 0 0 58px; */
    padding: 15px 0 10px;
    background: rgba(255, 255, 255, .95);
    border-bottom: 1px solid #dadada;
    left: 216px;
    -webkit-transition: left .4s;
    transition: left .4s;
}

@media screen and (min-width: 1366px) {

    .panel._main,
    .panel._main .panel__header,
    .panel__header._fixed {
        left: 250px;
    }
}

.container {
    position: relative;
    margin: auto;
}

.header__container,
.header__controls {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
}

.header__container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.panel._main .container {
    position: relative;
    margin: 0 54px;
    padding: 0 256px 0 0;
    max-width: 1200px;
}

.panel._main .panel__header .container,
.panel._main._without-sideblock .container {
    padding-right: 0;
}

.panel__header h1,
.panel__header h3 {
    color: #404853;
    vertical-align: top;
}

.panel__header h3 {
    display: inline-block;
    margin: 0;
}

.panel__header._clamped h3 {
    color: grey;
    vertical-align: top;
}

.panel-trigger {
    position: absolute;
    top: 0;
    left: -38px;
    width: 28px;
    height: 28px;
    cursor: pointer;
}

.article+.disqus:before,
.panel-trigger:before {
    content: '';
    position: absolute;
}

.panel-trigger:before {
    top: 2px;
    left: 4px;
    width: 17px;
    height: 17px;
}

.icon._menu,
.panel-trigger:before {
    background-image: url(data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22…2.969H1V13H16%20M17%2C12H0v4.969h17V12L17%2C12z%22%2F%3E%0A%0A%3C%2Fsvg%3E);
    background-size: 100% auto;
}

.header__container,
.header__controls {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
}

.header__controls {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-top: -4px;
    margin-bottom: -6px;
    margin-left: auto;
}

.btn-group:after,
.clearfix:after,
.container:after,
body>.wrapper:after {
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
    content: '';
}

.panel__header._fixed+.panel__header._emulator {
    display: block;
}

.panel__header._emulator,
.panel__header._emulator._stage-eap,
.panel__header._emulator._stage-outdated {
    background: 0 0 !important;
    border-color: transparent !important;
}

.panel__header._emulator {
    display: none;
}

.panel__content {
    position: relative;
    font-size: 16px;
    line-height: 28px;
}